body {
    background-color: black;
}

.nav {
    background-color: black;
    color: #FF0000;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
}

ul {
    text-align: center;
}

li {
    color: #FFF;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: right;
    margin: 10px;
    padding: 0 50px;
}

.nav a {
    text-decoration: none;
    color: darkkhaki;
}

li:hover {
    color: lightblue;
}

.welcome {
    background-color: darkgoldenrod;
    box-sizing: border-box;
    padding: 10px;
    position:
    left; 0;
    top: 20px;
    text-align: center;
    width: 100%;
    z-index: 100;
    margin-top: 5%;
    text-decoration: none;
}

h1, {
    text-align: center   
}

.welcome h1 {
    color: darkkhaki;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: capitalize;
}

.welcome p {
    color: black;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

.home img {
    width: 100%;
}

.car img {
    width: 80%;
    float: right;
}

.white img {
    width: 80%;
    float: right;
}

.fleet img {
    width: 80%;
    float: right;
    height: %;
}

.forms {
    color: darkkhaki;
    clear: both;
}

.message {
    color: green;
    float: ; :
}

.contact, p, h2 {
    color: darkkhaki;
    text-decoration: none;
}

.contact p {
    text-align: left;
    text-decoration: none;
}

/* to replace left 1px and bottom 10px */
.fax {
    color: darkkhaki;
    position: relative;
    width: 40p;
    left: 1px; 
    text-decoration-line: none;
    top: 40px;
    text-decoration: none;
}

.service {
    float: left;
    width: 60px;
    height: 100px;
    text-align: left;
}

.service {
    background-image: ur(wheelchair.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.footer {
    width: 100%;
    height: 20%;
    text-align: center;
    clear: both;
}






